NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/spay_bienestar

# Generar secrets con: openssl rand -base64 64
JWT_ACCESS_SECRET=change_me_access_secret_min_32_chars_long_xxxxxx
JWT_REFRESH_SECRET=change_me_refresh_secret_min_32_chars_long_xxxxx
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cookie options
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
