NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/spay_bienestar

JWT_ACCESS_SECRET=change_me_access_secret_min_32_chars_long_xxxxxx
JWT_REFRESH_SECRET=change_me_refresh_secret_min_32_chars_long_xxxxx
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

# CORS — orígenes permitidos separados por coma
CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://127.0.0.1:5173
